/* CSS Document */

/* Book */
@font-face {
    font-family: "Neutraface-Book";
    src: url('NeutrafaceText-Book_Alt_LF.eot');
    src: url("NeutrafaceText-Book_Alt_LF.eot#iefix") format("embedded-opentype"),
    url("NeutrafaceText-Book_Alt_LF.woff") format("woff");
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
}

/* Demi */
@font-face {
    font-family: "Neutraface";
    src: url('NeutrafaceText-DemiLF.eot');
    src: url("NeutrafaceText-DemiLF.eot#iefix") format("embedded-opentype"),
    url("NeutrafaceText-DemiLF.woff") format("woff");
    font-style: normal;
    font-weight: 600;
    font-stretch: normal;
}

/* callouts */
.book {
    font-style: normal;
    font-weight: 400;
}

.book-italic {
    font-style: italic;
    font-weight: normal;
}

.bold {
    font-style: normal;
    font-weight: bold;
}

.bold-italic {
    font-style: italic;
    font-weight: bold;
}

.demi {
    font-style: normal;
    font-weight: 600;
}

.demi-italic {
    font-style: italic;
    font-weight: 600;
}