/* CSS Document */

/* Book */
@font-face {
    font-family: "Neutraface-Book";
    src: url('NeutrafaceText-Book_Alt_LF.eot');
    src: url("NeutrafaceText-Book_Alt_LF.eot#iefix") format("embedded-opentype"),
    url("NeutrafaceText-Book_Alt_LF.woff") format("woff");
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
}

/* Demi */
@font-face {
    font-family: "Neutraface-Demi";
    src: url('NeutrafaceText-DemiLF.eot');
    src: url("NeutrafaceText-DemiLF.eot#iefix") format("embedded-opentype"),
    url("NeutrafaceText-DemiLF.woff") format("woff");
    font-style: normal;
    font-weight: 600;
    font-stretch: normal;
}