/* General WeatherTile Styles
---------------------------- */

.fs-24 {
	font-size: 24px;
}

.WeatherTileContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.WeatherTile {
	height: 250px;
	text-align: left;
	padding: 1em;
	margin: 1em;
	border: 1px solid black;
}

@media screen and (max-width: 767px) {
 	.WeatherTile {
		width: 90%;
	}
}

@media only screen and (min-device-width : 768px) and (max-device-width: 990px){
	.WeatherTile {
		width: 33%;
	}
}

@media only screen and (min-device-width : 999px) {
	.WeatherTile {
		width: 25%;
	}
}

.pull-right {
	float: right;
}

/* Weather Icons 
----------------*/

.clear-day,
.clear-night, 
.cloudy, 
.default-icon, 
.fog,
.partly-cloudy-day,
.partly-cloudy-night,
.rain,
.sleet,
.snow,
.wind {
	background-repeat: no-repeat;
	background-position: center;
	height: 5em;
	width: 5em;
	float: left;
}

.clear-day {
	background-image: url('../../images/Sun.svg');
}

.clear-night {
	background-image: url('../../images/Moon.svg');
}

.cloudy {
	background-image: url('../../images/Cloud.svg');
}

.default-icon {
	background-image: url('https://www.google.com');
}

.fog {
	background-image: url('../../images/Cloud-Fog.svg');
}

.partly-cloudy-day {
	background-image: url('../../images/Cloud-Fog-Sun.svg');
}

.partly-cloudy-night {
	background-image: url('../../images/Cloud-Fog-Moon.svg');
}

.rain {
	background-image: url('../../images/Cloud-Rain.svg');
}

.sleet {
	background-image: url('../../images/Cloud-Hail.svg');
}

.snow {
	background-image: url('../../images/Snowflake.svg');
}

.wind {
	background-image: url('../../images/Wind.svg');
}
